<div class = "container h-100">
  <div class = "row">
    <% shop = @shops.last %>
    <h2>Hello <%= shop.user.first_name%>,</h2> <br><p>here are all the shops you have on our platform!</p>
    <hr>
  </div>

  <div class = "row justify-content-center">
    <% @shops.each do |shop| %>
      <div class = "col-12 col-md-5 m-2">
        <%= link_to shop_path(shop), class: "text-decoration-none" do %>
          <div class = "card text-start p-3">
            <h3><%= shop.title %></h3>
            <small>Opened: <%= time_ago_in_words(shop.created_at, include_seconds: false, locale: 'en', scope: 'datetime.distance_in_words') %></small>
            <hr>
            <p>Shop has <%= shop.units.count %> units.</p>
            <p><%= shop.description %></p>
          </div>
        <% end %>
      </div>
    <% end %>
</div>
