<%= link_to units_path, id:"back-image" do %>
  <%= image_tag image_path("back.png") %>
<% end %>
<div class="container h-100">
  <div class="row mb-3">
    <h2><%= @shop.title %></h2>
    <p><%= @shop.description %></p>
    <p>Owned By: <%= @shop.user.first_name %> <%= @shop.user.last_name %></p>
    <p>Number of shop units: <%= @shop.units.count %></p>
    <p>Date Opened: <%= @shop.created_at.strftime("%A, %B %e, %Y") %></p>
    <hr>
  </div>

  <div class="row justify-content-center p-4">
    <h2 class="text-center m-2">Shop Units</h2>

    <% if @shop.units.any? %>
      <% @shop.units.each do |unit| %>
        <div class="col-12 col-md-5 m-2">
          <%= link_to shop_unit_path(unit.shop, unit), class: "text-decoration-none" do %>
            <div class="card text-start p-3">
              <h3><%= unit.title %></h3>
              <hr>
              <small>Listed <%= time_ago_in_words(unit.created_at, include_seconds: false, locale: 'en', scope: 'datetime.distance_in_words') %> ago.</small>
              <div class="card" >
                <!-- Just making sure I see the units. It can be removed later-->
                <% if unit.photo.attached? %>
                  <%= cl_image_tag(unit.photo.key, class: "card-img") %>
                <% end %>
              </div>
              <p><%= unit.description %></p>
            </div>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <h3>This shop has no units yet!</h3>
    <% end %>
    <div class="col-12 col-md-5 m-2">
      <%= link_to new_shop_unit_path(@shop, @unit) do %>
        <div class = "card-add">
          <i class="fa-solid fa-circle-plus fa-2xl"></i>
        </div>
      <% end %>
    </div>
  </div>
</div>
