<!--<%= simple_form_for([@shop, @unit, @booking]) do |f| %>
  <div class="container">
    <div class="row">
      <h3 class="text-center">Select your desired booking dates</h3>
    </div>
    <div class="row">
      <div class = "col">

      </div>
      <div class="col-6 mb-5 col-item">
        <% if @booking.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>
            <ul>
              <% @booking.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <%= f.input :start_date,
              as: :string,
              input_html: { data: { controller: "datepicker" } } %>

        <%= f.input :end_date,
              as: :string,
              input_html: { data: { controller: "datepicker" } } %>

        <div class="actions">
          <div class = "row">
            <%= f.submit class: "book-now mb-3"%>
            <%= link_to "Cancel", units_path, class: "book-now btn-cancel" %>
          </div>
        </div>
      </div>
      <div class = "col">

      </div>
    </div>
  </div>
<% end %> -->

<div class="container">
  <div class="row justify-content-center">
    <h2 class="text-center p-3">Select your desired booking dates</h2>
    <div class="col-12 col-md-5 offset-1 book-form-container m-1 p-3">
      <h3>Image will be here</h3>
      <h3>Image will be here</h3>
      <h3>Image will be here</h3>
      <h3>Image will be here</h3>
      <h3>Image will be here</h3>
      <h3>Image will be here</h3>
      <h3>Image will be here</h3>
      <h3>Image will be here</h3>
      <h3>Image will be here</h3>
    </div>
    <div class="col-12 col-md-6 book-form-container m-1 p-5 ">
      <%= simple_form_for([@shop, @unit, @booking]) do |f| %>
        <%= f.input :start_date,
              as: :string,
              input_html: { data: { controller: "datepicker" } } %>

        <%= f.input :end_date,
              as: :string,
              input_html: { data: { controller: "datepicker" } } %>

        <div class="actions">
          <div class = "row">
            <%= f.submit class: "book-now mb-3"%>
            <%= link_to "Cancel", units_path, class: "book-now btn-cancel" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
