<head>
  <%= stylesheet_link_tag 'styles' %>
  <link href="https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap" rel="stylesheet">
</head>


<div class="row">
  <div class="unit-cardtwo col-6">
    <div class="unit-details">
      <%= cl_image_tag(@unit.photo.key, class: "card-img") %>
      <h2 class="text-center"><%= @unit.title %></h2>
      <p>Description: <%= @unit.description %></p>
      <div class="row">
          <button class="col-6"><%= link_to @shop.title, shop_path(@unit.shop) %></button>
          <button class="col-6"><%= link_to "Book now", new_shop_unit_booking_path(@unit.shop, @unit), class: "book-now", data: { turbo_frame: "remote_modal" } %></button>
      </div>
    </div>
  </div>

  <div class ="mt-4 col-6">
    <h2 class="text-center"> Check Availability </h2>
    <div>
      <%= month_calendar(events: @bookings, attribute: :start_date, end_attribute: :end_date) do |date, bookings| %>
      <%= date %>
      <% bookings.each do |booking| %>
      <div class="bookingcard">

        <p>Booked by: <%= booking.user.first_name %></p>
      </div>
      <% end %>
    <% end %>
    </div>
  </div>
</div>

<%= link_to "Back to browse", "/units/" %>
