<head>
  <%= stylesheet_link_tag 'styles' %>
  <link href="https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap" rel="stylesheet">
</head>


<div class="row">
  <div class="unit-cardtwo col-6">
    <div class="unit-details">
      <%= cl_image_tag(@unit.photo.key, class: "card-img") %>
      <h2 class="text-center m-4"><%= @unit.title %></h2>
      <p>Description: <%= @unit.description %></p>
      <div class="row justify-content-between">
          <%= link_to @shop.title, shop_path(@unit.shop), class: "col-4 book-unit m-3 text-center" %>
          <%= link_to "Book now", new_shop_unit_booking_path(@unit.shop, @unit), class: "col-4 book-unit m-3 text-center" %>
      </div>
    </div>
  </div>

  <div class ="mt-4 col-6">
    <h2 class="text-center"> Check Availability </h2>
    <div>
      <%= month_calendar(events: @bookings, attribute: :start_date, end_attribute: :end_date) do |date, bookings| %>
        <p><%= date %></p>
        <%# bookings.each do |booking| %>
          <%# <div class="bookingcard">
          <p>Booked</p>
          </div> %>
        <%# end %>
        <%if bookings.any?%>
          <div class="bookingcard">
            <p class="text-center booked">Booked</p>
          </div>
        <%end%>

      <% end %>
    </div>
  </div>
</div>

<%= link_to units_path, id:"back-image" do %>
  <%= image_tag image_path("back.png") %>
<% end %>
